---
---

<footer class="site-footer">
  <div class="footer-links">
    <a href="https://hackclub.com" target="_blank" rel="noopener">Hack Club</a>
    <a href="https://hackclub.com/slack" target="_blank" rel="noopener">Join Slack</a>
    <a href="https://app.slack.com/client/E09V59WQY1E/C0BF9UFNEDS" target="_blank" rel="noopener">Open #braize in Slack</a>
    <a href="https://github.com/hackclubium/Braize" target="_blank" rel="noopener">Source on GitHub</a>
  </div>
  <p>Made by Hack Club for YSWS: you ship, we ship.</p>
</footer>
